.tri {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
}

.up {
  composes: tri;
  border-bottom: 7px solid currentColor;
}

.down {
  composes: tri;
  border-top: 7px solid currentColor;
}
